<h1>Testing API</h1>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, ratione nisi ullam hic quam eaque possimus blanditiis fuga exercitationem saepe eius esse delectus in neque impedit, est dolorem, praesentium ut!

  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione assumenda rerum neque minima error. Tempore, voluptates. Reprehenderit autem aperiam quidem consequuntur fugit necessitatibus? Ducimus non sequi necessitatibus voluptates veniam a!
</p>
<button (click)="getCarts()">Test GET Request</button>
<br> <br>
<button (click)="addToCart(247, 10)">Test POST Request</button>
<br> <br>
<button (click)="removeCart('3cec07e9ba5f5bb252d13f5f431e4bbb')">Test DELETE Request</button>
<router-outlet></router-outlet>
